<div class="ribbon">FALL23 CCE Senior Project Faculty of Engineering - AUL</div>
            <link rel="stylesheet" href="{{ url_for('static', filename='/styles_inst.css') }}">
            <div class="content-container">
            <h2>Dashboard</h2>
            <form method="POST">
                <a href="/send_message" class="button">Send a Message</a><br></br>
                <a href="/received_messages" class="button">Received Messages</a><br></br>
                <a href="https://aul.edu.lb/" class="button">Go to AUL website</a> <br></br>
                <a href="/reset_password" class="button">Reset student's password</a> <br></br>
                <a href="/register_course" class="button">Add Courses for a student</a> <br><br>
                <a href="/students_database" class="button">Students' Database</a> <br></br>
                <a href="/add_student" class="button">Add Student</a> <br></br>
                <a href="/view_std_data" class="button">View Students</a> <br></br>
                <a href="/inst_logout" class="button">Logout</a>

            </form>
            </div>

<script>
window.embeddedChatbotConfig = {
chatbotId: "zLjG9Zb76aj9Z8UGx_WGk",
domain: "www.chatbase.co"
}
</script>
<script
src="https://www.chatbase.co/embed.min.js"
chatbotId="zLjG9Zb76aj9Z8UGx_WGk"
domain="www.chatbase.co"
defer>
</script>