<!DOCTYPE html> <html> <head>
 <div class="ribbon">FALL23 CCE Senior Project Faculty of Engineering - AUL</div>
         <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
</head>
<body>
    <h1>
        Instructor Registration
        </h1>
        <h2>
        Please enter you instructor ID provided by you administration and create a password to proceed
    </h2>
    <form method="POST">
        <label for="instructor_id">Instructor ID:</label>
        <input type="text" id="Instructor ID" name="instructor_id" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br></br><br>
        <input type="submit" value="Register" class="button">
    </form> <br>
    <a href="/instructor_section" class="button">Go back</a> </body> </html>

<script>
window.embeddedChatbotConfig = {
chatbotId: "zLjG9Zb76aj9Z8UGx_WGk",
domain: "www.chatbase.co"
}
</script>
<script
src="https://www.chatbase.co/embed.min.js"
chatbotId="zLjG9Zb76aj9Z8UGx_WGk"
domain="www.chatbase.co"
defer>
</script>